<div class="card mx-4 my-4">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            @if (!conectado) {
                <li class="nav-item mr-2">
                    <input type="text" [(ngModel)]="mensaje.username" class="form-control" placeholder="Tu Username..." name="username">
                </li>
            }
            @if (!conectado) {
                <li class="nav-item mx-2">
                    <button class="btn btn-success" type="button" (click)="conectar()" [disabled]="!mensaje.username">Conectar</button>
                </li>
            }
            @if (conectado) {
                <li class="nav-item">
                    <button  class="btn btn-warning" type="button" (click)="desconectar()">Cerrar chat</button>
                </li>
            }
        </ul>
    </div>
    @if (conectado) {
        <div class="card-body" style="overflow-y: scroll; height: 360px;">
            <ul class="list-group list-group-flush">
                @for (mensaje of mensajes; track $index) {
                    <li class="list-group-item list-group-item-light">
                        @if (mensaje.tipo=='NUEVO_USUARIO') {
                            <span>{{mensaje.fecha | date:'shortTime'}} @ {{mensaje.texto}} {{mensaje.username}} </span>
                        }
                        @if (mensaje.tipo=='MENSAJE') {
                            <span>{{mensaje.fecha | date:'shortTime'}} : {{mensaje.username}} dice:<br> {{mensaje.texto}}</span>
                        }
                    </li>
                }
            </ul>
        </div>
    }
    @if (conectado) {
        <div class="card-footer d-flex">
            <form class="">
                <div class="form-group mx-3">
                    <input type="text" [(ngModel)]="mensaje.texto" class="form-control" placeholder="Escribe tu mensaje aquí..." name="texto">             
                </div>
            </form>
            <button class="btn btn-primary" type="submit" (click)="enviarMensaje()">Enviar</button>
        </div>
    }
</div>